In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///mycompany.db

In [16]:
%sql select * from users

   sqlite://
 * sqlite:///mycompany.db
Done.

[('bob', '123', 'bob', 0),
 ('mike', '123', 'mike', 1),
 ('jane', '000', 'jane', 0),
 ('kim', '999', 'kim', 0)]

In [17]:
%sql select * from staff

   sqlite://
 * sqlite:///mycompany.db
Done.

[(1, 'Mike'), (2, 'Anne'), (3, 'john'), (4, 'lili')]